{% extends 'base.html' %}
{% load static %}

{% block custom_css %}<link rel="stylesheet" href="{% static 'assets/reset_pass.css' %}">{% endblock custom_css %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<a href="/password-reset-email-sent/">mail sent</a>
    <section class="main-container">
        <div class="reset-form">
            <form action="/accounts/password-reset-email-sent/" method="post">
                {% csrf_token %}
                <h4 class="title">Reset Password</h4>
                <div class="label-text">Enter your email to get password reset link</div>
                <div class="input-field">
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <input type="submit" class="btn" value="RESET">
            </form>
        </div>
    </section>
{% endblock content %}